* {
    box-sizing: border-box;
  }

p {
    font-size: 30px;
}
img{
    height:400px;
    width:400px;
}
#bio, #mission, #fam{
    display:grid;
    grid-template-columns: auto auto;
    gap:20px;
    padding:20px;
    text-align:left;
}
.Photo{
    float:left;
}
.Text{
    float:left;
}