#mainTitle{
    text-align: center;
    color:brown;
}
#mainTitle p {
    font-size:20px;
}
#mainTitle h1 {
    font-size:50px;
}
#topNav {
    text-align: center;
    background-color: brown;
}
li {
    list-style: none;
    text-decoration: none;
    display:inline-block;
    margin: 20px
}
a{
    text-decoration: none;
    color:black;
}
/* END OF TOP TITLE AND NAVIGATION */


/* END OF ABOUT INFO CSS SPECIFICS*/